@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* body {
  background-color: rgb(44, 41, 41);
  background-image: linear-gradient(
      158deg,
      rgba(180, 192, 121, 0),
      rgba(132, 99, 155, 0.6)
    ),
    url(images/Random\ static.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
} */

/* body {
  background-color: rgb(44, 41, 41);
  background-image: linear-gradient(
    158deg,
    rgba(180, 192, 121, 0),
    rgba(132, 99, 155, 0.6)
  );

  height: 100vh;
  margin: 0;
} */

body {
  padding: 0;
  margin: 0;
  background-image: url(./images/gradient\ texture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: bisque;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

li {
  margin: 30px;
  font-size: 25px;
}

nav {
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#einleitung {
  font-family: "Courier New", Courier, monospace;
}

#light {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* a {
  border-top: 0 solid currentColor; 
}

a:hover {
  border-top-width: 1px; 
} */

/* #####GONNA USE###### */
/* a {
  border-top: 1px solid transparent; 
  transition: border-color 0.3s ease; 
}

a:hover {
  border-color: currentColor; 
} */

a {
  position: relative;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  color: currentColor;
  /* font-size: 18px; */
  letter-spacing: 0.5px;
  padding: 0 10px;
}

a:before,
a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: currentColor;
  transition: 0.3s;
}
a:after {
  left: 0;
  bottom: -10px;
}
a:before {
  right: 0;
  top: -10px;
}
a:hover {
  color: currentColor;
}
a:hover:after,
a:hover:before {
  width: 100%;
}
